RUST_LOG=info
PORT=7878
ALLOWED_ORIGIN="*"
KAFKA_ENABLED="Y"
KAFKA_QUEUES="browser form process window menu_item menu_tree role"
KAFKA_HOST="localhost:29092"
KAFKA_GROUP="default"
KAFKA_COMMIT_BATCH_SIZE=100
KAFKA_COMMIT_INTERVAL_SECS=5
KAFKA_CONCURRENCY_LIMIT=10
OPENSEARCH_URL="http://localhost:9200"
VERSION="1.0.0-dev"
